@green:@brand-success;
@white:#FFF;

@scrubber-size-default:20px;
@scrubberBG-size-default:@scrubber-size-default * 1.5;

@slider-background-checked:@green;
@slider-background-unchecked:@white;

@slider-scrubber-checked:@white;
@slider-scrubber-unchecked:@white;

@slider-text-unchecked:"off";
@slider-text-checked:"on";

// MAIN
.checkbox-toggle {
	position: relative;

	input{
		display:block;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		.square(0%);
		margin:0 0;
		cursor:pointer;
		.opacity(0);

		+ span {
			cursor:pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			&:before {
				position:absolute;
				left:0px;
				display:inline-block;
			}

			> h4 {
				display:inline;
			}
		}
	}
}

// // extended
// .checkbox-icon {
//
// 	.checkbox-toggle;
//
// 	input{
//
// 		+ span {
// 			padding-left:15px;
// 			&:before {
//
// 				.size(20px);
// 				.fa;
// 				.fa-fw;
// 				font-size:20px;
// 				color:@white;
// 				content:@fa-var-circle;
//
//
// 			}
// 			&:after {
//
// 				position:absolute;
// 				left:0px;
// 				display:inline-block;
// 				.fa;
// 				color:@green;
//
// 			}
// 		}
//
//
// 		&:checked + span:after {
// 			.fa;
// 			font-size:20px;
// 			left:2px;
// 			content:@fa-var-check;
//
// 		}
// 	}
//
//
// }

.checkbox-slider {

	.checkbox-toggle;

	input{

		+ span {
			padding-left:30px;

			&:before {
				content:"";
				height:20px;
				width:35px;
				background:rgba(100,100,100,.2);
				box-shadow:inset 0 0 5px rgba(0,0,0,.8);
				.transition(background .2s ease-in-out);
			}
			// Off State
			&:after {
				width:@default-scrubber-size;
				height:@default-scrubber-size;
				position:absolute;
				left:0px;
				top:0;
				border:solid rgba(0,0,0,.9) 1px;
				display:block;
				background:@white;
				.transition(margin-left 0.1s ease-in-out);
				text-align:center;
				font-weight:bold;
				border:solid rgba(100,100,100,1) 1px;
				content:"";
			}
		}
		// On state
		&:checked + span:after {
			margin-left: 19px;
			// .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
			background:@green;
			border:solid rgba(100,100,100,1) 1px;
			// text-shadow:0 1px 1px black;
			content:"";
		}
		&:checked + span:before {
			.transition(background .2s ease-in);
		}

	}

}

.checkbox-slider--a {

	.checkbox-slider;

	input{
		+ span {
			padding-left:60px;
		}
		+ span:before {
			content:"";
			width:60px;
		}
		+ span:after{
			width:40px;
			content:"Off";
		}
		&:checked + span:after {
			content:"On";
		}
	}
}

.keyframes(~'popIn, 0%{ transform: scale(1); opacity:.5; }50%{ transform: scale(0.9); opacity:.8; } 100%{ transform: scale(1); opacity:1 }');


.checkbox-slider--b {

	.checkbox-slider;

	input{

		+ span {
			padding-left:30px;
		}

		+ span:before {
			.border-radius(20px);
			// width:35px;
		}

		+ span:after{
			background:@white;
			content:"";
			width:20px;
			border:solid transparent 2px;
			.border-radius(20px);
		}

		&:checked + span:after {
			background:@white;
			content:"";
			margin-left:15px;
			border:solid transparent 2px;
			.animation(popIn .3s ease-in normal);

		}

		&:checked + span:before {
			background:@green;

		}
	}

}

.checkbox-slider--material {

	.checkbox-slider;

	input{

		+ span {
			padding-left:30px;
		}

		+ span:before {
			height:2px;
			top:10px;
			box-shadow:none;
			background:@gray;
		}

		+ span:after{
			box-shadow:none;
			width:20px;
			border:solid @gray 2px;
			.border-radius(20px);
		}

		&:checked + span:after {
			background:@green;
			margin-left:15px;
			border:solid @green 2px;

		}

		&:checked + span:before {
			background:@green;

		}
	}

}





.checkbox-slider--a {

	&.checkbox-slider--md {

		input + span {
			padding-left:80px;
		}

		input + span:before {
			width:80px;
		}

		input + span:after{
			width:50px;
		}
		input:checked + span:after {
			margin-left:30px;
		}
	}

	&.checkbox-slider--lg{

		input + span {
			padding-left:90px;
		}

		input + span:before {
			width:90px;
		}

		input + span:after{
			width:60px;
		}

		input:checked + span:after {
			margin-left:30px;
		}
	}
}

.checkbox-slider--b {

	&.checkbox-slider--md {

		input + span:before {
			.border-radius(25px);

		}

		input + span:after{
			.border-radius(25px);
		}

	}

	&.checkbox-slider--lg{

		input + span:before {
			.border-radius(20px);
		}

		input + span:after{
			// width:40px;
			.border-radius(40px);
		}

		// input:checked + span:after {
		// 	margin-left:30px;
		// }
	}
}

.checkbox-slider--md {
	line-height:25px;

	input + span {
		padding-left:60px;
	}

	input + span:before {

		width:45px;
	}

	input + span:after,
	input + span:before {
		height:25px;
		line-height:25px;
	}
	input + span:after {
		width:25px;
		vertical-align: middle;
	}

	input:checked + span:after {
		margin-left:20px;
	}
}

.checkbox-slider--lg {
	line-height:40px;

	input + span {
		padding-left:70px;
	}

	input + span:before {
		width:70px;
	}

	input + span:after,
	input + span:before {
		height:40px;
		line-height:40px;
	}
	input + span:after {
		width:40px;
		vertical-align: middle;
	}

	input:checked + span:after {
		margin-left:30px;
	}
}




.checkbox-slider--material.checkbox-slider--lg{

	input + span:before {
		height:2px;
		top:18px;
	}
	input + span:after{
		width:40px;
		.border-radius(40px);
	}
}
.checkbox-slider--material.checkbox-slider--md{

	input + span:before {
		height:2px;
		top:12px;
	}
}


.checkbox-slider--a input:disabled{
	+ span:after{background:gray;color:white;}
	+ span:before{box-shadow:0 0 0 black;}
}
