body {
	padding-top: 50px;
}

.hero{
	padding:20px;
	border-bottom:gray 1px solid;
	background:lighten(@brand-primary,40%);
	// color:white;
}

.panel-footer > .highlight > pre {
	margin:0;
	padding:0;
	border:none;

}

h3,
h4{
	margin: 40px 0 10px;
}
h3{
	padding-top:60px;
}
body > footer{
	padding:10px;
	text-align:center;
	width:100%;
}
