<h3 id="sizes">Sizes</h3>
<p class="lead">
	Propper sizing option should get the pony over the hill for your next project.
</p>
<p>
	
	Next to the default size there are 3 sizes:
	<ul>
		<li>checkbox-slider-sm</li>
		<li>checkbox-slider-md</li>
		<li>checkbox-slider-lg</li>
	</ul>
	Just like Bootstrap. In the case you need something special, use the <code>_titatoggle.less</code>
	to alther your preferend settings and sizes.
</p>


<div class="checkbox checkbox-slider--default checkbox-slider-sm">
	<label>
		<input type="checkbox"><span>Small</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default checkbox-slider">
	<label>
		<input type="checkbox"><span>Default</span>
	</label>
</div>

<div class="checkbox checkbox-slider--default checkbox-slider-md">
	<label>
		<input type="checkbox"><span>Medium</span>
	</label>
</div>

<div class="checkbox checkbox-slider--default checkbox-slider-lg">
	<label>
		<input type="checkbox"><span>Large</span>
	</label>
</div>

{% highlight html %}

<div class="... checkbox-slider-sm ...">
	...
</div>

<div class="... <DEFAULT> ...">
	...
</div>

<div class="... checkbox-slider-md ...">
	...
</div>

<div class="... checkbox-slider-lg ...">
	...
</div>
{% endhighlight%}
