<h4 id="b">Slider Default rounded <small>checkbox-slider--a-rounded</small></h4>
<p>
	It takes the edge off.
</p>
<div class="row">
	<div class="col-sm-3">
		<h5>Default</h5>
		<div class="checkbox checkbox-slider--a-rounded">
			<label>
				<input type="checkbox"><span>Default</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a-rounded">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a-rounded">
			<label>
				<input type="checkbox" disabled><span>disabled</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a-rounded">
			<label>
				<input type="checkbox" disabled checked><span>disabled checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Small</h5>
		<div class="checkbox checkbox-slider--a-rounded checkbox-slider-sm">
			<label>
				<input type="checkbox"><span>small</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a-rounded checkbox-slider-sm">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Medium</h5>
		<div class="checkbox checkbox-slider--a-rounded checkbox-slider-md">
			<label>
				<input type="checkbox"><span>medium</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a-rounded checkbox-slider-md">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Large</h5>
		<div class="checkbox checkbox-slider--a-rounded checkbox-slider-lg">
			<label>
				<input type="checkbox"><span>large</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a-rounded checkbox-slider-lg">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
</div>





<pre><code class="html">
<div class="... checkbox-slider--a-rounded">
	...
</div>
</code></pre>
