<h4 id="c">Slider C Weight <small>checkbox-slider--c-weight</small></h4>
<p>
	Giving the slider some more weight.
</p>
<div class="row">
	<div class="col-sm-3">
		<h5>Default</h5>
		<div class="checkbox checkbox-slider--c-weight">
			<label>
				<input type="checkbox"><span>Default</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--c-weight">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--c-weight">
			<label>
				<input type="checkbox" disabled><span>disabled</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--c-weight">
			<label>
				<input type="checkbox" checked disabled><span>disabled checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Small</h5>
		<div class="checkbox checkbox-slider--c-weight checkbox-slider-sm">
			<label>
				<input type="checkbox"><span>small</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--c-weight checkbox-slider-sm">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Medium</h5>
		<div class="checkbox checkbox-slider--c-weight checkbox-slider-md">
			<label>
				<input type="checkbox"><span>medium</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--c-weight checkbox-slider-md">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Large</h5>
		<div class="checkbox checkbox-slider--c-weight checkbox-slider-lg">
			<label>
				<input type="checkbox"><span>large</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--c-weight checkbox-slider-lg">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
</div>




<pre><code class="html">
<div class="... checkbox-slider--c-weight">
	...
</div>
</code></pre>
