<h3 id="b">Slider B <small>checkbox-slider--b</small></h3>
<p>
	An iOS like version of just a plain checkbox.
</p>

<div class="checkbox checkbox-slider--b">
	<label>
		<input type="checkbox"><span>Slider b</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-sm">
	<label>
		<input type="checkbox"><span>small</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-sm">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-md">
	<label>
		<input type="checkbox"><span>medium</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-md">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-lg">
	<label>
		<input type="checkbox"><span>large</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-lg">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>
{% highlight html %}
<div class="... checkbox-slider--b">
...
</div>
{% endhighlight%}
