<h3 id="default">Slider default <small>checkbox-slider--default</small></h3>
<p>
	Out of the box this would be the modest version, without bells and whistles.
</p>

<div class="checkbox checkbox-slider--default">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default">
	<label>
		<input type="checkbox" disabled><span>disabled</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default checkbox-slider-sm">
	<label>
		<input type="checkbox"><span>small</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default checkbox-slider-sm">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default checkbox-slider-md">
	<label>
		<input type="checkbox"><span>medium</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default checkbox-slider-md">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default checkbox-slider-lg">
	<label>
		<input type="checkbox"><span>large</span>
	</label>
</div>
<div class="checkbox checkbox-slider--default checkbox-slider-lg">
	<label>
		<input type="checkbox" checked><span>checked</span>
	</label>
</div>

{% highlight html %}
<div class="... checkbox-slider--a">
...
</div>
{% endhighlight%}
