<h3 id="a">Slider A <small>checkbox-slider--a</small></h3>
<p>
	Sometimes you need some text to double the meaning / state of the checkbox.
	I've noticed many people have trouble with a checkbox, when it's "On" of "Off". To make
	this more clear, you can use this version.
</p>
<div class="row">
	<div class="col-sm-3">
		<h5>Default</h5>
		<div class="checkbox checkbox-slider--a">
			<label>
				<input type="checkbox"><span>Slider a</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a">
			<label>
				<input type="checkbox" disabled><span>disabled</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a">
			<label>
				<input type="checkbox" checked disabled><span>disabled checked </span>
			</label>
		</div>

	</div>
	<div class="col-sm-3">
		<h5>Small</h5>
		<div class="checkbox checkbox-slider--a checkbox-slider-sm">
			<label>
				<input type="checkbox"><span>small</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a checkbox-slider-sm">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Medium</h5>
		<div class="checkbox checkbox-slider--a checkbox-slider-md">
			<label>
				<input type="checkbox"><span>medium</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a checkbox-slider-md">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Large</h5>
		<div class="checkbox checkbox-slider--a checkbox-slider-lg">
			<label>
				<input type="checkbox"><span>large</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--a checkbox-slider-lg">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
</div>

<pre><code class="html">
<div class="... checkbox-slider--a">
	...
</div>
</code></pre>
