<h3 id="default">Slider default <small>checkbox-slider--default</small></h3>
<p>
	Out of the box this would be the modest version, without any bells and whistles.
</p>
<div class="row">
	<div class="col-sm-3">
		<h5>Default</h5>
		<div class="checkbox checkbox-slider--default">
			<label>
				<input type="checkbox"><span>default</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--default">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--default">
			<label>
				<input type="checkbox" disabled><span>disabled</span>
			</label>
		</div>
<div class="checkbox checkbox-slider--default">
	<label>
		<input type="checkbox" checked disabled><span>disabled checked</span>
	</label>
</div>
	</div>
	<div class="col-sm-3">
		<h5>Small</h5>
		<div class="checkbox checkbox-slider--default checkbox-slider-sm">
			<label>
				<input type="checkbox"><span>small</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--default checkbox-slider-sm">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Medium</h5>
		<div class="checkbox checkbox-slider--default checkbox-slider-md">
			<label>
				<input type="checkbox"><span>medium</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--default checkbox-slider-md">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
	<div class="col-sm-3">
		<h5>Large</h5>
		<div class="checkbox checkbox-slider--default checkbox-slider-lg">
			<label>
				<input type="checkbox"><span>large</span>
			</label>
		</div>
		<div class="checkbox checkbox-slider--default checkbox-slider-lg">
			<label>
				<input type="checkbox" checked><span>checked</span>
			</label>
		</div>
	</div>
</div>





<pre><code class="html">
<div class="... checkbox-slider--default">
	...
</div>
</code></pre>
