<h3 id="variations">Variations</h3>
<p class="lead">
	Checkboxes can have different colors, just like buttons.
</p>
<p>
	We use the default Bootstrap variables <code>@brand-XXX</code> to color the checkbox.
</p>
<div class="alert alert-warning">
	Not so usable for the visually impaired, due
	to the fact it's only a color and contrast is to low. And keep in mind that colorblindness is a real fact.
</div>
<div class="col-md-3">
	<h5>Default</h5>
	<div class="checkbox checkbox-slider-lg checkbox-slider--default">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--a">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b-flat">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c-weight">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>

</div>

<div class="col-md-3">
	<h5>Info</h5>
	<div class="checkbox checkbox-slider-lg checkbox-slider--default checkbox-slider-info">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-info">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b  checkbox-slider-info">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b-flat  checkbox-slider-info">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c  checkbox-slider-info">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c-weight  checkbox-slider-info">
		<label>
			<input type="checkbox" checked><span>info</span>
		</label>
	</div>

</div>
<div class="col-md-3">
	<h5>Danger</h5>
	<div class="checkbox checkbox-slider-lg checkbox-slider--default checkbox-slider-danger">
		<label>
			<input type="checkbox" checked><span>danger</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-danger">
		<label>
			<input type="checkbox" checked><span>danger</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b checkbox-slider-danger">
		<label>
			<input type="checkbox" checked><span>danger</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b-flat checkbox-slider-danger">
		<label>
			<input type="checkbox" checked><span>danger</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c  checkbox-slider-danger">
		<label>
			<input type="checkbox" checked><span>danger</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c-weight  checkbox-slider-danger">
		<label>
			<input type="checkbox" checked><span>danger</span>
		</label>
	</div>

</div>
<div class="col-md-3">
	<h5>Warning</h5>
	<div class="checkbox checkbox-slider-lg checkbox-slider--default checkbox-slider-warning">
		<label>
			<input type="checkbox" checked><span>warning</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--a  checkbox-slider-warning">
		<label>
			<input type="checkbox" checked><span>warning</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b checkbox-slider-warning">
		<label>
			<input type="checkbox" checked><span>warning</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--b-flat checkbox-slider-warning">
		<label>
			<input type="checkbox" checked><span>warning</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c  checkbox-slider-warning">
		<label>
			<input type="checkbox" checked><span>warning</span>
		</label>
	</div>
	<div class="checkbox checkbox-slider-lg checkbox-slider--c-weight  checkbox-slider-warning">
		<label>
			<input type="checkbox" checked><span>warning</span>
		</label>
	</div>

</div>

{%highlight html%}
<div class="checkbox ... checkbox-slider-info">
<div class="checkbox ... checkbox-slider-danger">
<div class="checkbox ... checkbox-slider-warning">

{%endhighlight%}
