<h3 id="variations">Variations</h3>
<p class="lead">
	Small visual que for the label to show that the checkbox is checked.
</p>
<p>
	Not so usable for the visually impaired, due
	to the fact it's only a color and contrast is to low.
</p>

<div class="checkbox checkbox-slider--default checkbox-slider-info">
	<label>
		<input type="checkbox" checked><span>info</span>
	</label>
</div>
<div class="checkbox checkbox-slider--a  checkbox-slider-info">
	<label>
		<input type="checkbox" checked><span>info</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b  checkbox-slider-info">
	<label>
		<input type="checkbox" checked><span>info</span>
	</label>
</div>
<div class="checkbox checkbox-slider--c  checkbox-slider-info">
	<label>
		<input type="checkbox" checked><span>info</span>
	</label>
</div>

<div class="checkbox checkbox-slider--default checkbox-slider-danger">
	<label>
		<input type="checkbox" checked><span>danger</span>
	</label>
</div>
<div class="checkbox checkbox-slider--a  checkbox-slider-danger">
	<label>
		<input type="checkbox" checked><span>danger</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-danger">
	<label>
		<input type="checkbox" checked><span>danger</span>
	</label>
</div>
<div class="checkbox checkbox-slider--c  checkbox-slider-danger">
	<label>
		<input type="checkbox" checked><span>danger</span>
	</label>
</div>

<div class="checkbox checkbox-slider--default checkbox-slider-warning">
	<label>
		<input type="checkbox" checked><span>warning</span>
	</label>
</div>
<div class="checkbox checkbox-slider--a  checkbox-slider-warning">
	<label>
		<input type="checkbox" checked><span>warning</span>
	</label>
</div>
<div class="checkbox checkbox-slider--b checkbox-slider-warning">
	<label>
		<input type="checkbox" checked><span>warning</span>
	</label>
</div>
<div class="checkbox checkbox-slider--c  checkbox-slider-warning">
	<label>
		<input type="checkbox" checked><span>warning</span>
	</label>
</div>
